@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-color:#0a7ce6;
}


.image-wrapper {
    position: relative;
    padding-top: 56.25%;
}

.image-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
   
    width: 100%;
    height: auto;
}

.slider-title {
    display: inline-block;
}

.slider-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30%;
    background-color: var(--main-color);
}
